/* .attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', serif;
}

body {
    font-size: 14px;
    background: hsl(30, 38%, 92%);
    color: hsl(212, 21%, 14%);
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: hsl(0, 0%, 100%);
    width: 90%;
    height: 92vh;
    /* margin: auto; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.container-img {
    height: 40%;
    margin-bottom: 15px;
}

img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.container-description {
    /* display: flex; */
    height: 60%;
    margin: 0 22px;
}

h1 {
    font-family: 'Fraunces';
    font-size: 2rem;
    margin: 10px 0;
}
.container-description p:nth-child(1) {
    letter-spacing: 3px;
    /* color: red; */
}
p {
    line-height: 1.5rem;
    /* letter-spacing: 2px; */
}

/* .container-description * {
    margin-top: 10px;
} */

.container-description span {
    color: hsl(157.94, 35.79%, 37.25%);
    font-size: 2rem;
    font-weight: 700;
    /* margin-bottom: 10px; */
    /* margin-top: 10px; */
}

.container-description span:nth-child(6) {
    color: hsl(228, 12%, 48%);
    vertical-align: top;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: line-through;
}

button {
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    border: none;
    background: hsl(157.94, 35.79%, 37.25%);
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

button img {
    width: 1rem;
    height: 1rem;
    margin-right: 10px;
    /* color: red; */
}
/* ---------- Desktop: 1440px ---------- */

@media screen and (min-width: 768px) {
    .container {
        width: 550px;
        height: 420px;
        flex-direction: row;
    }
    .container-img {
        width: 50%;
        height: 100%;
    }
    img {
        height: 100%;
    border-radius: 10px 0 0 10px;
    }
    .container-description {
        width: 50%;
        height: 100%;
        margin: 0 20px;
        padding: 20px 0;
    }
}